.navbar-brand {
    padding-left: 150px;
}
#navbarNav {
    padding-left: 50px;
}

.navbar-nav .nav-link {
    margin-right: 50px; /* Adjust the margin value as per your preference */
  }

  .container-fluid1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightblue;
    font-weight: bolder;
    height: 50vh;
}



.container-fluid2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 6rem;
    font-family: sans-serif;
}

.heading {
    padding-left: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.container-fluid2 .card {
    width: 30rem;
    height: 12rem;
    
    background-color: antiquewhite;
    
}

.container-fluid2 .card .card-body {
    font-family:cursive;
    text-align: justify;
}

.container-fluid2 .card .card-body h5 {
    font-weight: bolder;
    font-family : cursive;
}


.logo-container {
    display: flex;
    font-weight: bolder;
    font-family: cursive;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: #F8F6F4;
  }

  .logo-container img {
    margin: 20px;
    max-width: 135px; 
    max-height: 135px;
  }

.logo-container div {
    display: flex;
    justify-content: center;
    gap: 5rem;
}
  
.footer {
    background-color:honeydew;
    text-align: center;
    padding-top: 50px;
    height: 15vh;
    text-decoration: none;
    list-style: none;
    

  }



  .footer a img {
    list-style: none;
    height: 100px;
    width: 100px;
    gap: 12rem;
  }